.container-list-subject-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 690px;
    margin: auto;
}

.container-list-subject-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-subject{
    margin: 10px auto;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 5px;
}

.div-button-subject {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .container-list-subject-section {
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto;
    }
    .container-list-subject-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}