<section class="container-list-subject-section">
    <div class="container-list-subject-div">
        <ng-container *ngFor="let subject of (subjects$ | async)">
            <div class="div-subject">
                <h2>
                    {{ subject.title }}
                </h2>
                <div class="content">
                    {{ subject.content }}
                </div>
                <div class="div-button-subject">
                    <ng-container *ngIf="fromSubjectComponent; else fromProfileComponent">
                        <button class="button-mdd" (click)="subscribe(subject.id)">S'abonner</button>
                    </ng-container>
                    <ng-template #fromProfileComponent>
                        <button class="button-mdd" (click)="unSubscribe(subject.id)">Se désabonner</button>
                    </ng-template>
                </div>
            </div>
        </ng-container>
        <p>{{ emptyListPostMessage }}</p>
    </div>
</section>
