<div class="list">
    <mat-card>
        <div fxLayout="row wrap" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let subject of (subjects$ | async)" fxFlex>
                <div *ngIf="fromSubjectComponent; else elseFromProfileComponent">
                    <p *ngIf="!isSubscribedSubject(subject)">
                        <mat-card-header>
                            <mat-card-title>{{ subject.title }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ subject.content }}
                            </p>
                        </mat-card-content>
                        <button (click)="subscribe(subject.id)">S'abonner</button>
                    </p>

                </div>
                <ng-template #elseFromProfileComponent>
                    <div>
                        <p *ngIf="isSubscribedSubject(subject)">
                            <mat-card-header>
                                <mat-card-title>{{ subject.title }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    {{ subject.content }}
                                </p>
                            </mat-card-content>
                            <button (click)="unSubscribe(subject.id)">Se désabonner</button>
                        </p>
                    </div>
                </ng-template>
            </mat-card>
        </div>
    </mat-card>
</div>
