<app-header></app-header>
<section class="container-list-post-section">
    <div class="container-create-sort">
        <div class="create-button">
            <button class="button-mdd" [routerLink]="['createPost']">Créer un article</button>
        </div>
        <div class="sort-button">
            <button class="sortBy" (click)="sortBy()">Trier par
                <mat-icon *ngIf="!ascend; else displayUp">arrow_downward</mat-icon>
                <ng-template #displayUp>
                    <mat-icon>arrow_upward</mat-icon>
                </ng-template>
            </button>
        </div>
    </div>
    <div class="container-list-post-div">
        <div class="div-post" *ngFor="let post of postsList" (click)="postDetail(post.id)">
            <h2>
                {{ post.title }}
            </h2>
            <div class="date-author">
                <div class="date">
                    Date : {{ post.createdAt | date: 'longDate'}}
                </div>
                <div class="author">
                    Auteur : {{ post.user_name }}
                </div>
            </div>
            <div class="content" (click)="postDetail(post.id)">
                {{ post.content }}
            </div>
        </div>
    </div>
</section>
