<app-header></app-header>

<div class="container-profile">
    <h2>Profil Utilisateur</h2>
    <form [formGroup]="profileForm" (submit)="onUpdateProfile()">
        <div class="form-group">
            <input matInput type="name" name="name" required placeholder="Username"
                   formControlName="name">
        </div>
        <div class="form-group">
            <input matInput type="email" name="email" required placeholder="email@email.fr"
                   formControlName="email">
        </div>
        <div class="div-submit-button">
            <button class="button-mdd" type="submit" [disabled]="profileForm.invalid">Sauvegarder
            </button>
            <p *ngIf="onError" class="error">An error occurred</p>
        </div>
    </form>
    <div class="div-logout-button">
        <button class="logout-button" (click)="onLogOut()">Se déconnecter</button>
    </div>
</div>
<div>
    <h2>Abonnements</h2>
</div>
<div>
    <app-subject-list [fromSubjectComponent]="false"></app-subject-list>
</div>


