header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.img-mdd {
    width:173px;
}

.div-mdd {
    display: flex;
    align-items: center;
}

.div-nav-site {
    display: flex;
    align-items: center;
    flex-direction: row;
}

a {
    border: none;
    font-size: 20px;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    img {
       width:45px;
       margin-bottom: -3px
    }
}

.active {
    color: #7464BF;
}

.activeImg{
    border-radius: 40px;
    border: 5px solid;
    color: #7464BF;
}

.div-nav-mobile {
    display: none;
}

.button-nav-mobile {
   border: 0px;
   background-color: transparent;
}

.show-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    background-color: white;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
}

.div-menu-mobile {
    display: none;
}

.div-menu-mobile-articles-themes {
    display: none;
}

.div-menu-mobile-profile {
    display: none;
}

.div-menu-mobile-blur{
    display: none;
}

.show-div-menu-mobile-articles-themes {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.show-div-menu-mobile-profile {
    display: flex;
    flex-direction: column;
}

.show-div-menu-mobile-blur {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    background-color: rgba(128,128,127,0.5); // Gère la partie grisée quand le menu mobile s'ouvre
}

@media screen and (max-width: 700px) {
    .div-nav-site {
        display: none;
    }
    .div-nav-mobile {
        display: flex;
    }
    .div-menu-mobile {
        display: flex;
    }
}